body {
  margin: 0;
  background-image: url(./1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}



/* 
let boxes = document.querySelectorAll(".box");

function colofulBoxes() {
  let red = Math.floor(Math.random() * 256);
  let green = Math.floor(Math.random() * 256);
  let blue = Math.floor(Math.random() * 256);

  let color = `rgb(${red} , ${green} , ${blue})`;

  this.style.background = color;
}

for (let i = 0; i < boxes.length; i++) {
  
  boxes[i].onclick = colofulBoxes;
} */

