body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#big__image {
  width: 300px;
  height: 300px;
  margin-bottom: 100px;
border-radius: 100px;
}

.images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.images img {
  width: 200px;
  height: 200px;
}
