#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(251, 239, 23);
  color: rgb(18, 18, 17);
  padding: 5rem;
  width: 30%;
  height: 400px;
  margin: 2rem;
  border-radius: 8px;
}
body {
  background-color: rgb(42, 40, 40);
}

.footer {
  display: none !important;
  line-height: 2;
  display: flex;
  margin: 3rem;
  align-items: center;
  width: 90%;
  padding: 1rem;
  border: 1px solid;
  flex-direction: column;
}

img{
  width: 50px;
  height: 50px;
  padding: 2rem;
}



#show-more{
  cursor: pointer;
}