body {
  height: 100vh;
  margin: 0;
}
section {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  transition: 0.5s;
}

section:nth-child(1) {
  background-color: darkblue;
  z-index: 5;
}
section:nth-child(2) {
  background-color: darkred;
  z-index: 4;
}
section:nth-child(3) {
  background-color: darkgreen;
  z-index: 3;
}
section:nth-child(4) {
  background-color: darkmagenta;
  z-index: 2;
}
section:nth-child(5) {
  background-color: darkkhaki;
  z-index: 1;
}

.slideup {
  transform: translateY(-100%);
}
